<div id="videos-container" class="contents-container">
    {{#each videos as |video|}}
    <div class="video-card">
        <div class="video-title">
            {{video.title}}
            {{video.description}}
        </div>
    </div>
    {{/each}}
</div>
<a id="create-video-link" href="/videos/create">Add a Video</a>
